* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(360deg, #E6F2FF, #B8E1DD);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: 1rem;
}

footer {
    font-size: 0.5rem;
}

#inputText {
    width: 100%;
    max-width: 400px;
    height: 150px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #5D576B;
    font-size: 1rem;
    border-radius: 10px;
    resize: none;
}

#inputText:focus {
    outline: none;
    border: 1px solid #015c68;
}

#analyzeBtn {
    padding: 12px 24px;
    font-size: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: linear-gradient(135deg, #2E4057, #3A506B);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.2 ease, box-shadow 0.2 ease;
}

#analyzeBtn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.75);
}

#analyzeBtn:active {
    transform: scale(0.98);
}

#result {
    min-height: 100px;
}